@import "./variables";
@import "./mixins";

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

nav {
	top: 0;
	display: block;
	width: 100%;
	position: fixed;
	background-image: linear-gradient(#f4f4f4, #f4f4f4, #b4b4b4);
	overflow: hidden;
	box-shadow: 5px 0 10px rgba(0, 0, 0, 0.432);
	z-index: 1;
	a {
		float: left;
		color: #000000;
		text-align: center;
		padding: 20px 20px;
		text-decoration: none;
		font-size: 18px;
		font-weight: 600;
		transition: 0.5s;
		&:hover {
			color: #000000;
			text-decoration: underline;
			text-shadow: 0 0 10px #162bc4;
		}
	}
	>div {
		position: relative;
	}
}

#nav_logo {
	position: absolute;
	top: 0;
	width: 10%;
}

.nav-right {
	float: right;
	margin-right: 2%;	
}

.active_link {
	background-image: url(./img/active_link.png);
	background-repeat: initial;
	background-size: cover;
	text-decoration: underline;
	font-weight: 800;
	color: white;
}

a.active_link:hover {
	color: white;
}

.active_link_Greg {
  background-image: url(./img/active_link.png);
  background-repeat: round;
  background-size: contain;
  text-decoration: underline;
	font-weight: 800;
	color: white;
	&:hover {
		color: white;
	}
}

.index_highlight {
	color: $hoverColor;
}

#cover_slide {
	position: relative;
	background-image: url(./img/slide1.jpg);
	height: 90vh; 		
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#big_logo {
	width: 50%;
}

#cover_text {
	position: absolute;
	top: 15%;
	left:7%;
	color: $hoverColor;
	text-align: center;
	font-size: 30px;
	font-family: $wheigtFont;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507);
	animation: fadein 2s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.container_images {
	width: 40%;
	margin: 5%;
	img {
		width: 100%;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.521);
	}
}

.container_text {
	width: 40%;
	margin: 5%;
	font-size: 25px;
	line-height: 200%;
	text-align: justify;
	button {
		@include blueBtn();
		&:hover {
			@include hoverBtn ();
		}
		&:active {
			@include activeBtn ();
		}
	}
}

.center_text {
	text-align: center;
	font-size: 30px;
	margin-top: 0;
	padding: 3% 5%;
	line-height: 200%;
	font-weight: 800;
	color: white;
	background-color: #162bc4;
}

#job_block {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	background-image: url(./img/job_bg.jpg);
	height: 80%; 
	padding: 30%;
	overflow: hidden;		
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	p:first-child {
		position: absolute;
		color: rgb(0, 0, 0);
		font-size: 40px;
		text-shadow: 0 0 15px white, 0 0 15px white, 0 0 15px white;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		padding: 2% 0;
		line-height: 200%;
		font-weight: 800;
	}
}

#job_container {
	position: absolute;
	background-color: #162ac4d5;
	box-shadow: 5px 5px 5px white;
	top: 25%;
	right: 0;
	width: 47%;
	margin-right: 3%;
	font-size: 25px;
	div {
		padding: 4%;
		text-align: justify;
		color: white;
	}
}

div#job_block p:nth-child(3) {
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 25px;
	font-weight: 800;
	text-shadow: 0 0 15px white, 0 0 15px white, 0 0 15px white;
}

#contact_order_list {
	padding-top: 3%;
	position: relative;
	margin-bottom: 10%;
	p {
		text-align: center;
		font-size: 25px;
	}
	ul {
		margin-left: -2.5%;
		text-align: center;
		font-size: 25px;
		line-height: 200%;
		list-style-type: none;
	}
	button {
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
		@include blueBtn();
		&:hover {
			@include hoverBtn ();
		}
		&:active {
			@include activeBtn ();
		}
	}
}

footer {
	justify-content: center;
	background-size: cover;
	margin-bottom: -20px;
	padding: 2%;
	bottom: 0;
	background-color: black;
	text-align: center;
	color: rgb(163, 163, 163);
	ul {
		margin-left: -2%;
		list-style-type: none;
		overflow: hidden;
		padding-bottom: 2%;
		li {
			display: inline;
			a {
				color: rgb(163, 163, 163);
				text-decoration: none;
				&:hover {
					color: $hoverColor;
					text-decoration: underline;
					transition: 1s;
				}
			}
		}
	}
}

#advisory_title {
	margin-top: 10%;
	font-size: 60px;
	font-family: $wheigtFont;
	text-align: center;
}

.profile_container {
	display: flex;
	flex-wrap: wrap;
	padding: 5%;
}

.profile_cards {
	position: relative;
	background-image: linear-gradient(#ffffff, #f4f4f4, #f4f4f4, #b4b4b4);
	border: 2px solid rgb(82, 82, 82);
	width: 300px;
	height: 400px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.658);
	margin: 5% 5%;
	animation: fadein 2s;
	transition: 0.5s;
	&:hover {
		box-shadow: 0px 0px 20px $hoverColor;
	}
	p {
		position: absolute;
		font-size: 25px;
		text-align: center;
		top: 20%;
		left: 50%;
		transform: translateX(-50%);
		width: 100%
	}
}

.profile_images {
	position: absolute;
	left: 50%;
	transform: translate(-57%, -50%);
	img {
		width: 100%;
		border: 10px solid rgb(255, 255, 255);
		outline: solid 1px black;
	}
}

.prof_icons {
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	a {
		text-decoration: none;
		color: black;
		transition: 0.5s;
		&:hover {
			text-shadow: 0 0 10px ;
			color: #162bc3;
		}
	}
}

.social_icons {
	height: 25px;
	margin-top: 5%;
	transform: translateY(25%);
}